.app {
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #efeff4;
  width: 750;
}

.choose_box {
  width: 550;
  height: 100;
  border-radius: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.top_box {
  padding: 34 40;
  color: #434343;
}

.middle_box {
  padding: 34 40;
  color: #434343;
}

.top_box,
.middle_box {
  background-color: #ffffff;
  z-index: 10;
}

.bottom_box {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #6767fa;
  z-index: 10;
}

.middle_box,
.bottom_box {
  margin-top: 50;
  z-index: -1;
}

.white_text {
  color: #ffffff;
}

.dropdown {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.select_item {
  padding-top: 41;
  padding-bottom: 41;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.down {
  width: 50;
  height: 40;
}

.item_text {
  color: #6767fa;;
}

.dropdown_container {
  position: absolute;
  width: 550;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}


.dropdown_list {
  width: 470;
  background-color: #ffffff;
  z-index: 100;
  border-radius: 20;
}

.arrow_list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 100;
}
.up {
  width: 80;
  height: 60;
}