.app {
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #efeff4;
  width: 750;
  height: 1200;
}

.choose_box {
  width: 550;
  height: 100;
  border-radius: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.top_box {
  transform: translateY(-200);
}

.middle_box {
  transform: translateY(50);
  /* margin-top: -50; */
}

.top_box,
.middle_box {
  color: #434343;
  padding: 34 40;
  background-color: #ffffff;
}

.bottom_box {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #6767fa; 
  /* position: absolute;
  top: 613; */
  transform: translateY(300);
  /* margin-top: 50; */
}

.white_text {
  color: #ffffff;
}

.dropdown {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.select_item {
  padding-top: 40;
  padding-bottom: 40;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.item_border {
  border-bottom: 2px solid #ebf0f0;
}

.down {
  width: 50;
  height: 40;
}

.item_text {
  color: #6767fa;;
}

.dropdown_container {
  position: absolute;
  top: -100;
  width: 550;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.dropdown_list {
  width: 470;
  background-color: #ffffff;
  z-index: 100;
  border-radius: 40;
  height: 370;
}

.arrow_list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  
}
.up {
  width: 80;
  height: 60;
  /* transform: scale() */
}
.term_list {
  position: absolute;
  top: 140;
  width: 550;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 750;
  height: 1200;
  background-color: salmon;
  z-index: 1000;
  overflow: hidden;
}