.app {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-color: #efeff4;
  width: 750;
  flex: 1;
}
.empty {
  display: flex;
  align-items: center;
  flex: 1;
}
.empty_icon {
  margin-top: 150;
}
.text {
  font-size: 32;
  color: #ccccff;
}
.item {
  border-radius: 10;
  padding: 25 30;
  background-color: #ffffff;
  margin-top: 40;
  margin-left: 60;
  margin-right: 60;
}
.first_row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.row {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.middle_row {
  margin-top: 12;
}
.info_box {
  border-width: 3;
  padding: 8 12;
  border-radius: 6;
}
.small_font {
  font-size: 25;
}
.middle_font {
  font-size: 28;
  line-height: 28;
}
.large_font {
  font-size: 32;
  line-height: 32;
  /* font-weight: bold; */
}
.type {
  border-color: rgb(254, 183, 90);
  color: rgb(254, 183, 90);
  margin-left: 15;
}

.category {
  border-color: #6767fa;
  color: #6767fa;
}

.credit {
  border-color: #ccccff;
  color: #ccccff;
  margin-left: 15;
}
.grade {
  font-weight: bold;
}

.last_item {
  margin-bottom: 60;
}

.course {
  width: 380;
}
